body{
    margin: 0;
    text-align: center;
    background-color: black;
}
main{
    margin-top: 100px;
}
button{
    width: 300px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0);
    border: rgb(0, 89, 255) solid 2px;
    color: rgb(0, 89, 255);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 18px;
    transition: 1s;
    box-shadow: rgb(0, 89, 255) 0px 0px 20px;
}
button:hover{
    background-color: black;
}
#paragraph{
    color: rgb(0, 89, 255);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 18px;
}
.shop{
    margin-top: 30px;
}
.shop button{
    margin-top: 10px;
}
.animation > .block{
    display: inline-block;
    color: rgb(0, 89, 255);
    margin-top: 100px;
    font-size: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-shadow: rgb(0, 89, 255) 0px 0px 10px;
}
#slash{
    animation: slash 1s both infinite;
}
@keyframes slash {
    0%{opacity: 0;}
    50%{opacity: 1;}
    10%{opacity: 0;}
}